* {
    box-sizing: border-box;
}
body {
    background-image: url(../images/upfeathers/upfeathers.png);
} 
#head-jumbo {
    max-width: 1400px;
    margin: auto;
    background-image: url(../images/Steam-Train.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
#jumbo-textground {
    background: rgba(255, 255, 255, 0.5);
    width: 550px;
}
#main-card {
    max-width: 1400px;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
}
.card-header {
    background-color: blue;
    color: white;
}
.form-group {
    margin: 10px 15px 0px 15px;
}
#sub-btn {
    margin: 15px 0px 15px 15px;
}
.display-4,
.lead,
#extra {
    text-align: center;
    font-family: 'Patua One', cursive, Times, Times New Roman, serif;
    font-weight: bold;    
}